<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 자바스크립트 코드 -->
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script type='text/javascript'>
        $(document).on('keyup', '#textarea01', function(e){
        var textarea01 = $(this).val();
        $('#cntSPAN').text(getBytes(textarea01));    
        });
        function getBytes(str){
        var cnt = 0;
        for(var i =0; i<str.length;i++) {
            cnt += (str.charCodeAt(i) >128) ? 2 : 1;
        }
        return cnt;
        }
    </script>
    <title>Diary</title>

</head>

<body>
    <h1>Dear my diary</h1>
    <div>
        <textarea id="textarea01"></textarea>
        <div>
            <span id="cntSPAN">0</span>&nbsp;<span>bytes</span>
        </div>
    </div>



</body>

</html>